extends layout

block content
  i.nav-logout(onclick="location.href = '/logout'").ion-log-out
  header
    h1= title
    p.lead Howdy, #{user.name}!
  section#chats
    div.panel.panel-chats.list-group
      div.panel-heading My Chats
        each chat, i in user.chats  
          if chat.title
            a.list-group-item.list-group-item-room(href="/chats/#{chat._id}") #{chat.title}
          else 
            a.list-group-item.list-group-item-room(href="/chats/#{chat._id}") Chat ##{i+1}
        else
          .list-group-item.list-group-item-empty None so far :(
            small Click the button below to create a room.
    a.go(href="/new-chat") Create new chat