extends layout

block content
  i.nav-chats(onclick="location.href = '/chats'").ion-navicon
  i.nav-logout(onclick="location.href = '/logout'").ion-log-out
  header
    input#title.titleeditor.animatedheader(value="#{title}", spellcheck="false")
    p.lead#share Share this chat: 
      span#copybtn.ion-clipboard
      a(href="https://twitter.com/share", target='_blank').twitter-share-button.ion-social-twitter
      a(href="#")#mailtobtn.ion-email
  section#chat
    #chatbox
    .sendbar
      span.nameprompt(style="color:#{user_dict.color}") #{user_dict.name}
        span.alt :&nbsp;
      input.sendbox(type="text", required="required", placeholder="Message")
      button.sendbutton(disabled="true") Send
        i.ion-ios7-paperplane
  #hackmodal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Hack the Chat
        .modal-body(style='text-align:left')
          textarea.hackbox(style="width:100%; height: 300px", autofocus='autofocus')
            | function (text, callback) {
            |    &#x2F;&#x2F; This is what you want to capture
            |    INDENTIFIER = "";
            |  
            |    if (text.slice(0, INDENTIFIER.length - 1) is INDENTIFIER) {
            |      &#x2F;&#x2F; Your code goes here!
            |    }
            |}
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal', style="float:left") Close
          button.btn.btn-danger#propogate-hack(type='button') Propogate hack

  script(src="/js/underscore.js")
  script(src="/js/backbone.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/app.js")
  script.
    $("#header-block").hide()
    window.socket = io.connect()
    window.chat = new ChatView(!{user}, !{chat})
    $("#copybtn").attr('data-clipboard-text', location.href);
    ZeroClipboard.setDefaults({ moviePath: "/ZeroClipboard.swf" })
    var clip = new ZeroClipboard($('#copybtn'));
    //- $('#copybtn').mouseover(function() {
    //-   $('#copybtn').addClass("highlighted-social-link");
    //- });
    //- $('#copybtn').mouseout(function() {
    //-   $('#copybtn').removeClass("highlighted-social-link");
    //- });
    $("#mailtobtn").attr('href', "mailto:?body="+location.href);