extends layout

block content
  i.nav-chats(onclick="location.href = '/chats'").ion-navicon
  i.nav-logout(onclick="location.href = '/logout'").ion-log-out
  header
    input#title.titleeditor.animatedheader(value="#{title}", spellcheck="false")
    p.lead#share Share this chat: 
      span#copybtn.ion-clipboard
      a(href="https://twitter.com/share", target='_blank').twitter-share-button.ion-social-twitter
      a(href="#")#mailtobtn.ion-email
  section#chat
    #chatbox
    .sendbar
      span.nameprompt(style="color:#{user_dict.color}") #{user_dict.name}
        span.alt :&nbsp;
      input.sendbox(type="text", required="required")
      button.sendbutton(disabled="true") Send
        i.ion-ios7-paperplane
  script(src="/js/underscore.js")
  script(src="/js/backbone.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/app.js")
  script.
    $("#header-block").hide()
    window.socket = io.connect()
    window.chat = new ChatView(!{user}, !{chat})
    $("#copybtn").attr('data-clipboard-text', location.href);
    ZeroClipboard.setDefaults({ moviePath: "/ZeroClipboard.swf" })
    var clip = new ZeroClipboard($('#copybtn'));
    //- $('#copybtn').mouseover(function() {
    //-   $('#copybtn').addClass("highlighted-social-link");
    //- });
    //- $('#copybtn').mouseout(function() {
    //-   $('#copybtn').removeClass("highlighted-social-link");
    //- });
    $("#mailtobtn").attr('href', "mailto:?body="+location.href);